#view-users-container, #add-user-container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  strong {
    font-size: 1.6rem;
    font-weight: bold;
    color: #6A1B9A; 
    margin-bottom: 15px;
  }

  .error-msg {
    font-size: 0.9rem;
    color: #FF4D4D;
    margin-top: 5px;
  }
  
  ion-tab-bar {
    background-color: #ECEFF1;
    padding: 10px 0;
  }
  
  ion-tab-button {
    color: #7E57C2;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .go-home-btn {
    margin-bottom: 20px;
    width: 100%;
  }
  
  ion-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  ion-item h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  ion-item p {
    font-size: 1rem;
    color: #7E57C2;
  }
  
  ion-button.clear {
    color: #6A1B9A;
    text-transform: none;
    font-size: 1rem;
    font-weight: normal;
    padding: 5px 0;
  }
  
  .scroll-container {
    width: 100%;
  }
  
  ion-input, ion-datetime {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  ion-button.custom-button {
    --color: #FFFFFF;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: none;
    width: 100%;
  }
  
  ion-button.custom-button:hover {
    background: #6A4D9B;
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  ion-button.custom-button:active {
    transform: translateY(0px);
  }
  
  ion-button.custom-button[disabled] {
    --background: #D1C4E9; 
    box-shadow: none;
  }
  
  ion-button.custom-button:not([disabled]) {
    --background: #7E57C2;
  }
  
  ion-button.custom-button.full-width {
    width: 100%;
  }
  
  ion-modal {
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  ion-header {
    background: #7E57C2;
    color: #fff;
  }
  
  ion-toolbar {
    text-align: center;
  }
  
  ion-header ion-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  ion-button {
    --color: #FFFFFF;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s ease;
  }

.scroll-container {
    overflow: hidden; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; 
  }
  
  
  /* Autor: Evan Salvador Gálvez Barajas 2022171006 */
  