
<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Hola mundo</strong>
    
    <ion-button (click)="showMessage()" class="button">Mostrar mensaje</ion-button>
  
    <div *ngIf="messageVisible" class="message-box">
      Hi!!, ¡EvanGod!, well done!!
    </div>
  </div>

  <div id="login-container">
    <ion-input type="text" placeholder="Username" [(ngModel)]="username" (input)="validateFields()"></ion-input>
    <ion-input type="password" placeholder="Password" [(ngModel)]="password" (input)="validateFields()"></ion-input>
    <ion-button [disabled]="!isValid" (click)="showModal()">Ingresar</ion-button>
    <ion-button fill="clear" (click)="goToRegister()" class="register-btn">¿No tienes cuenta? Regístrate</ion-button>
    
  </div>
  
</ion-content>
