.register-content {
  --background: linear-gradient(to bottom, #ECEFF1, #CFD8DC);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.register-card {
  width: 100%;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.scroll-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.error-msg {
  color: #D32F2F;
  font-size: 12px;
  margin: 5px 0;
}

.register-btn {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

ion-button {
  --color: #FFFFFF;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
}

ion-button:hover {
  background: #6A4D9B;
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

ion-button:active {
  transform: translateY(0px);
}

ion-button[disabled] {
  --background: #D1C4E9;
  box-shadow: none;
}

ion-button:not([disabled]) {
  --background: #7E57C2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

ion-button.full-width {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #6A1B9A;
}

/*Autor: Evan Salvador Gálvez Barajas 2022171006*/
